.brands-a a{
    color: white !important;
}
.brands-a a:hover{
    color: #ffaa2d!important;
}

.particles{
    z-index: -4;
    position: absolute;
}
#tsparticles{
    width: 100% !important;
    height: 100% !important;
}