.my-nav{
    opacity: .8;
    z-index: 0;  
}

.nav-name{
    font-size: 30px !important;
    font-weight: 900;
    text-decoration: none !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}